.contentContainer{
    width: 70%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.loginContainer{
    flex:1;
    margin-left: 55px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #eee;
}
.content{
    width: 570px;
    /* display: flex; */
    flex-direction: row;
}
.searchInput{
    display: block;
    width: 60%;
    margin: 2rem auto;
    outline: none;
    height: 2.8rem;
    line-height: 2.2rem;
}
.searchInput input{
    font-size: 14px;
}