.contentContainer{
    width: 70%;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.loginContainer{
    flex:1;
    margin-left: 55px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #eee;
}
.content{
    width: 570px;
    /* display: flex; */
    flex-direction: row;
}
.searchInput{
    display: block;
    width: 60%;
    margin: 2rem auto;
    outline: none;
    height: 2.8rem;
    line-height: 2.2rem;
}
.searchInput input{
    font-size: 14px;
}
.names{
    text-align: center;
    margin: 34px auto;
    font-size: 32px;
    margin-top:8px;
}
.logo{
    display: block;
    margin: 0 auto;
    padding-top: 13px;
}
.logo_name{
    display:block;
    width: 20%;
    margin: 15px auto;
    padding-left: 20px;
}