.articleListContainer {
    margin-top: 10px;
    height: 600px;
}
.paginationStyle{
    margin-top: 20px;
    text-align: center;
}
.cellContainer{
    border: solid thin #ddd;
    display: flex;
    flex-direction: row;
    height: 120px;
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 10px 5px #cecbcb;
    width: 650px;
}
.cellAboutArticle{
    display: flex;
    flex-direction: column;
    flex: 4;
    align-content: center;
    justify-content: center;
}
.cellState{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.cellOperation{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cellOperation button{
    margin-left:10px;
}
.articleTitle{
    margin-bottom: 10px;
    font-size: 20px;
    color: #09a5b5;
}
.articleInfo span{
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
    color: #00000087;
}
.articleTitles{
    color:#00000087;
    text-align: center;
    width: 800px;
    font-size: 28px;    
}