.container{
    background: #fff;
    display: flex;
    flex-direction: column;
    height: 322px;
    box-shadow: 12px 12px 8px #888888;
}

.formStyle{
    width: 70%;
    margin-left: 15%;
    text-align: center;
    padding-top: 20px;
}
.loginButton{
    width: 60%;
}
.loginButton1{
    width: 60%;
    margin-top:20px;
}

