.container{
    display: flex;
    flex-direction: row;
    margin-bottom: 26px;
    margin-right: 12px;    
    height: 155px;
    padding:20px 10px;
    background: #fff;
    cursor: pointer;
    box-shadow: 10px 10px 5px #888888;
    margin-top:10px;
}
.container:hover{
    box-shadow: 3px 3px 7px #9a9292;
}
.container>div:first-child>img{
    width: 176px;
    height: 110px;
}

.container>div:first-child{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomContainer{
    flex: 5;
    padding:0 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.title{
    display: block;
    color: black;
    font-size: 20px;
    height: 27px;
}
.bottomContainer>div{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    justify-content: space-between;
    align-items: center;
}
.bottomContainer>div>p{
    display: flex;
    flex-direction: row;
    color: #cdcdcd;
}
.summary{
    font-size: 18px;
    color:#e90303;;
}
.bottomContainer>div>p img{
    margin-right: 5px;
}
.bottomContainer>div>p>span{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.bottomContainer>div span>img{
    width: 16px;
}
.lastSpan{
    font-size: 13px;
}
.lastSpan>span{
    font-size: 12px;
    margin-right: 30px;
}
.address{
    margin: 4px;
}
.price{
    font-size: 13px;
}
.quality{
    font-size: 12px;
    margin-left: 104px;
    color: #b56b6b;
}